@font-face{
  font-family: DIN-Bold;
  src: url('../fonts/DIN-Bold.otf'),
    url('../fonts/din_regular-webfont.woff'), 
    url('../fonts/din_regular-webfont.woff2'); 
}
@font-face{
  font-family: DIN-Regular;
  src: url('../fonts/DIN-Regular.otf'),
    url('../fonts/din_regular-webfont.woff'), 
    url('../fonts/din_regular-webfont.woff2'); 
}
textarea::-webkit-input-placeholder,input::-webkit-input-placeholder{
  color: #C3C3C3;
}    /* 使用webkit内核的浏览器 */
textarea::-moz-placeholder,input:-moz-placeholder{
  color: #C3C3C3;
}                  /* Firefox版本4-18 */
textarea::-moz-placeholder,input::-moz-placeholder{
  color: #C3C3C3;
}                  /* Firefox版本19+ */
textarea::-ms-input-placeholder,input:-ms-input-placeholder{
  color: #C3C3C3;
}  
.hiwork-layout{
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  width: 100%;
}
a:focus{
  outline: none;
}
.gray{
  /* background-image:linear-gradient(-180deg, #fbfbfb 0%, #ffffff 100%); */
  background: #f7f7f7;
}
.white{
  background: #fff;
}
.black{
  background: #000;
}
.grayness{
  background: #D8D8D8;
}
.isShow{
  transform: translate3d(0,30px,0);
  transition: all 1s cubic-bezier(0.38, 0.32, 0.36, 0.98);
  opacity: 0;
}
.section{
  padding-top: 70px;
  padding-bottom: 70px;
}
.loading{
  width: 100%;
  height: 100%;
  background-color: #fff;
  position: fixed;
  background-image: url('../img/loading.gif');
  background-position: center;
  background-size: 200px;
  background-repeat: no-repeat;
  z-index: 99;
}
// header
.header-wall{
  height: 100px;
}
.header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 18px 15px;
  .header-brand{
    width: 120px;
    height: 54px;
    background-image: url('../img/white-logo.png');
    background-size: 120px;
    background-position: center;
    background-repeat: no-repeat;
    a{
      display: block;
      height: 100%;
    }
  }
  .header-nav{
    .nav-ul{
      li{
        position: relative;
        &:last-child a{
          padding-right: 0;
        }
        a{
          padding: 1.5rem;
          display: block;
          height: 100%;
          font-weight: 600;
          font-size: 1.4rem;
          color: #fff;
          letter-spacing: 0.23px;
          cursor: pointer;
        }
        .drop-menu{
          position: absolute;
          background: #fff;
          width: 150px;
          display: none;
          box-shadow: 2px 4px 20px rgba(0,0,0,.2);
          z-index: 20;
          li{
            border-bottom: 1px solid #ddd;
            &:last-child{
              border-bottom: 0px solid #ddd;
            }
            a{
              padding: 1.2rem 2rem;
              font-weight: 400;
              transition: all .2s ease;
              color: #555;
              &:hover{
                padding-left: 2.5rem;
              }
            }
          }
        }
      }
    }
  }
}
.black-logo{
  .header{
    .header-brand{
      background-image: url('../img/black-logo.png');
    }
  }
  .header-nav{
    .nav-ul{
      li{
        a{
          color: #000000;
          svg{
            g{
              fill:#000;
            }
          }
        }
      }
    }
  }
}
.smallNav{
  position: fixed;
  z-index: 20;
  width: 100%;
  background: #009944;
  transform: translateY(-100%);
  transition: transform .2s ease;
  &.active{
    transform: translateY(0);
  }
  .header{
    padding: 15px;
  }
}
::selection {
  background:rgba(138, 238, 116, 0.4);; 
  // color:#fff;
}

::-moz-selection {
  background:rgba(138, 238, 116, 0.4);; 
  // color:#fff;
}

::-webkit-selection {
  background:rgba(138, 238, 116, 0.4);; 
  // color:#fff;
}
section{
  margin: 60px auto;
}
.footer{
  padding: 40px 0;
  background: #009944;
  .footer-wall{
    display: flex;
    align-items: center;
    justify-content: space-between; 
  }
  .footer-left{
    .footer-left-nav{
      display: flex;
      align-items: flex-start;
      justify-content: flex-start; 
      flex-wrap: wrap;
      width: 400px;
      margin-bottom: 20px;
      .footer-left-nav__item{
        margin-bottom: 20px;
        &:first-child{
          margin-right: 40px;
        }
        h5{
          font-family: DIN-Bold;
          font-weight: 600;
          font-size: 1.4rem;
          color: #000000;
          letter-spacing: 0.23px;
          line-height: 22px;
          a{
            font-family: DIN-Bold;
            font-size: 1.4rem;
            color: #000000;
            letter-spacing: 0.23px;
            line-height: 22px;
          }
        }
        p{
          font-size: 1.4rem;
          color: #000000;
          letter-spacing: 0.23px;
          line-height: 25px;
          a{
            font-size: 1.4rem;
            color: #000000;
            letter-spacing: 0.23px;
            line-height: 25px;
          }
        }
      }
    }
    .footer-left-site{
      display: flex;
      align-items: flex-start;
      justify-content: flex-start; 
      .footer-left-site__cn{
        padding-right: 20px;
        border-right: 1px solid #000;
        p{
          font-size: 1.4rem;
          color: #000000;
          letter-spacing: 0.23px;
          line-height: 23px;
        }
      }
      .footer-left-site__en{
        padding-left: 20px;
        p{
          font-family: DIN-Regular;
          font-size: 1.4rem;
          color: #000000;
          letter-spacing: 0.23px;
          line-height: 23px;
        }
      }
    }
  }
  .footer-right{
    img{
      width: 230px;
    }
    p{
      margin-top: 5px;
      font-family: DIN-Regular;
      font-size: 1.3rem;
      color: #000000;
      letter-spacing: 0.95px;
      line-height: 24px;
      text-align: center;
    }
  }
}

.video-module{
  display: none;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.4);
  position: fixed;
  z-index: 19;
  top: 0;
  padding-top: 200px;
  .video-module-main{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 80%;
    max-width: 1000px;
    background: rgba(131, 131, 131, 0.68);
    margin: 0 auto;
    box-shadow: 2px 4px 20px rgba(0, 0, 0, 0.2);
    video{
      width: 100%;
    }
    .module-close{
      position: absolute;
      top: -40px;
      right: 0;
      cursor: pointer;
    }
  }
  
}







  /*电脑*/
  @media screen  and (min-width:1400px){
    .hiwork-layout{
      max-width: 1140px;
    }
  }
  /*笔记本*/
  @media screen and (max-width: 1399px) and (min-width: 1200px){
    .hiwork-layout{
      max-width: 1140px;
    }
  }
  /*横向平板*/
  @media screen and (max-width: 1199px) and (min-width: 1023px){
    .hiwork-layout{
      max-width: 960px;
    }
  }
  /*平板*/
  @media screen and (max-width: 1023px) and (min-width: 768px){
    .hiwork-layout{
      max-width: 720px;
    }
  }
  /*手机*/
  @media screen and (max-width: 767px){
    .hiwork-layout{
      max-width: 720px;
    }
  }
  @media screen and (max-width: 576px){
    .hiwork-layout{
      max-width: 540px;
    }
  }
  /*笔记本高度*/
  @media screen and (max-height: 767px) and (min-height: 600px){

  }

