html, body, form {
  position: relative;
  height: 100%;
}

.lzlj-main{
  display: none;
}
.swiper-container {
  width: 100%;
  height: 100%;
}
.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.rotate-hint{
  display: none;
  position: fixed;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: #000;
  z-index: 999;
  .rotate-hint__main{
    color: #fff;
    text-align: center;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    i{
      background-image: url('../img/rotate.png');
      display: inline-block;
      width: 67px;
      height: 109px;
      transform: rotate(90deg);
      animation: rotation infinite 1.5s ease-out;;
      background-size: 67px;
    }
    p{
      margin-top: 25px;
      font-size: 15px;
      color: #fff;
    }
  }
}
.lzlj-main{
  .bg-wrapper{
    .hand-animate{
      width: 80px;
      height: 172px;
      background: url('../img/lzlj/hand.png') center no-repeat;
      background-size: 80px;
      position: absolute;
      left: 50%;
      top: 50%;
      margin-left: -20px;
      transform: translateY(30px);
      margin-top: 40px;
      opacity: 0;
      transition: all 1s ease-out;
      &.active{
        transform: translateY(0);
        opacity: 1;
      }
    }
    .page-bg{
      width: 100%;
      height: 100%;
      background-repeat: no-repeat;
      background-position: top;
      background-size: 100%;
      position: absolute;
      top: 0;
      left: 0;
    }
    .page-select{
      width: 100%;
      height: auto;
      position: absolute;
      bottom: 0;
      left: 0;
      padding: 0 5% 5%;
      .select-main{
        position: relative;
        .select-main__title{
          text-align: left;
          border: 3px solid #4b2c20;
          border-radius: 5px;
          padding: 10px;
          margin-bottom: 10px;
          background: #fff;
          h3{
            font-size: 15px;
            color: #4b2c20;
            font-weight: 600;
          }
        }
        .select-main__option{
          text-align: left;
          border: 3px solid #4b2c20;
          border-radius: 5px;
          padding: 10px;
          background: #fff;
          position: relative;
          label{
            display: block;
            font-size: 14px;
            margin-bottom: 8px;
            color: #4b2c20;
            position: relative;
            padding-left: 25px;
            user-select: none;
            width: 90%;
            &:last-child{
              margin-bottom: 0;
            }
            input{
              position: absolute;
              top: 2px;
              margin: 0;
              left: 0;
              // transform: translateY(-50%);
            }
          }
        }
        .next-page{
          position: absolute;
          right: 10px;
          bottom: 4px;
          z-index: 3;
          button{
            width: 32px;
            height: 32px;
            border: 0;
            background-color: transparent;
            background-image: url('../img/button0.png');
            background-size: 32px;
            background-repeat: no-repeat;
            background-position: center;
            transition: all .3s ease-out;
            padding: 0;
            &.isTrue{
              background-image: url('../img/button.png');
            }
          }
        }
      }
    }
    
    .swiper-slide:nth-child(2){
      background-image: url('http://cdnvideo.airproce.com/bg/0.png');
      background-repeat: no-repeat;
      background-position: top;
      background-size: 100%;
    }
    .swiper-slide:nth-child(2) .page-bg{
      background-image: url('http://cdnvideo.airproce.com/bg/1.png');
      animation: changeBg infinite .7s ease-in-out;
    }
    .swiper-slide:nth-child(3) .page-bg{
      background-image: url('http://cdnvideo.airproce.com/bg/2.png');
    }
    .swiper-slide:nth-child(4) .page-bg{
      background-image: url('http://cdnvideo.airproce.com/bg/3.png');
    }
    .swiper-slide:nth-child(5) .page-bg{
      background-image: url('http://cdnvideo.airproce.com/bg/4.png');
    }
    .swiper-slide:nth-child(6) .page-bg{
      background-image: url('http://cdnvideo.airproce.com/bg/5.png');
    }
    .swiper-slide:nth-child(7) .page-bg{
      height: 65%;
      background-image: url('http://cdnvideo.airproce.com/bg/6.png');
    }
    .swiper-slide:nth-child(8) .page-bg{
      background-image: url('http://cdnvideo.airproce.com/bg/7.png');
    }
    .swiper-slide:nth-child(9) .page-bg{
      background-image: url('http://cdnvideo.airproce.com/bg/8.png');
    }
  }
}
.last-btn{
  background-image: url('../img/button.png');
  background-size: 32px;
  background-repeat: no-repeat;
  background-position: center;
  width: 32px;
  height: 32px;
  position: absolute;
  z-index: -2;
  opacity: 0;
  top: 0;
  left: 0;
}
// 结果页面
.results{
  background: #c9daf0;
  padding: 2% 7%;
  width: 100%;
  height: 100%;
  position: relative;
  .info{
    font-size: 13px;
    background: #668cbe;
    border-radius: 5px;
    padding: 2% 5%;
    color: #fff;
    position: absolute;
    left: 50%;
    transform: translate(-50%,-30px);
    opacity: 0;
    z-index: 50;
    font-weight: bold;
    transition: all .7s ease-out;
    &.show{
      transform: translate(-50%,0);
      opacity: 1;
    }
  }
  #show-img{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 20;
    left: 0;
    top: 0;
    opacity: 0;
  }
  .results-top{
    width: 100%;
    height: 48%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    .tags-left{
      width: 33%;
      height: 100%;
      margin-left: -2%;
      z-index: 2;
      // background: #4b2c20;
      .tags-item{
        background: #fff;
        border-radius: 5px;
        font-size: 15px;
        padding: 6px 10px;
        letter-spacing: 1px;
        color: #643;
        position: relative;
        font-weight: bold;
        transform: translateX(-30px);
        opacity: 0;
        transition: all .7s ease-out;
        z-index: 3;
        &.show{
          transform: translateX(0);
          opacity: 1;
        }
        &:nth-child(1){
          margin-top: 35%;
        }
        &:nth-child(2){
          margin-top: 65%;
        }
        // &::after{
        //   content: '';
        //   display: block;
        //   width: 30px;
        //   height: 11px;
        //   background-image: url('../img/bg/role-left.png');
        //   background-repeat: no-repeat;
        //   background-position: center;
        //   background-size: 30px;
        //   position: absolute;
        //   right: 3px;
        //   bottom: -9px;
        //   z-index: 1;
        // }
      }
    }
    .tags-mid{
      width: 20%;
      height: 100%;
      z-index: 2;
    }
    .tags-right{
      width: 30%;
      height: 100%;
      margin-right: -3%;
      position: relative;
      z-index: 2;
      // background: #aa6d5b;
      .tags-item{
        background: #fff;
        border-radius: 5px;
        font-size: 15px;
        padding: 6px 10px;
        letter-spacing: 1px;
        color: #643;
        position: relative;
        font-weight: bold;
        transform: translateX(30px);
        opacity: 0;
        transition: all .7s ease-out;
        z-index: 3;
        &.show{
          transform: translateX(0);
          opacity: 1;
        }
        &:nth-child(1){
          margin-top: 25%;
        }
        &:nth-child(2){
          margin-top: 40%;
        }
        // &::after{
        //   content: '';
        //   display: block;
        //   width: 30px;
        //   height: 11px;
        //   background-image: url('../img/bg/role-right.png');
        //   background-repeat: no-repeat;
        //   background-position: center;
        //   background-size: 30px;
        //   position: absolute;
        //   left: 3px;
        //   bottom: -9px;
        //   z-index: 1;
        // }
      }
      .page-title{
        width: 130px;
        height: 44px;
        background-image: url('../img/bg/label22.png');
        background-size: 130px;
        background-position: center;
        background-repeat: no-repeat;
        line-height: 44px;
        font-size: 22px;
        padding: 0 0 0 25px;
        letter-spacing: 1px;
        // color: #254469;
        color: #fff;
        font-weight: 900;
        text-align: left;
        position: absolute;
        top: 75%;
        right: 0;
      }
      
    }
    .results-top-img{
      background-image: url('../img/bg/r1.png');
      background-repeat: no-repeat;
      background-position: center top;
      background-size: 100%;
      width: 100%;
      height: 100%;
      position: absolute;
      z-index: 1;
      bottom: -1px;
      right: -1px;
    }
  }
  .results-mid{
    position: absolute;
    .logo-div{
      width: 150px;
      // position: absolute;
      // bottom: 80px;
      // right: 0;
      // background: #fff;
      display: flex;
      justify-content: space-around;
      align-items: center;
      // padding: 10px 5px;
      // border-radius: 5px;
      img{
        width: 100%;
      }
    }
  }
  .results-bottom{
    position: relative;
    margin-top: 6%;
    .results-bottom__img{
      background-image: url('../img/bg/r2.png');
      background-repeat: no-repeat;
      background-position: center -2px;
      background-size: 100%;
      width: 100%;
      height: 85%;
      .page-title{
        width: 130px;
        height: 44px;
        background-image: url('../img/bg/label12.png');
        background-size: 130px;
        background-position: center;
        background-repeat: no-repeat;
        line-height: 44px;
        font-size: 22px;
        padding: 0 0 0 25px;
        letter-spacing: 1px;
        // color: #254469;
        color: #fff;
        font-weight: 900;
        text-align: left;
        position: absolute;
        top: 40px;
        right: -3%;
      }
      .qcode{
        width: 60px;
        text-align: left;
        position: absolute;
        top: 100px;
        right: 20px;
        img{
          width: 100%;
        }
      }
    }
    .results-bottom__title{
      background: #fff;
      padding: 2% 0 3%;
      h3{
        font-size: 16px;
        font-weight: bold;
        color: #aa6d5b;
        padding: 0 5%;
      }
    }
    .results-bottom__btn{
      position: absolute;
      width: 100%;
      display: flex;
      justify-content: space-around;
      align-items: center;
      // bottom: -15%;
      bottom: auto;
      margin-top: -5px;
      transform: translateY(30px);
      opacity: 0;
      transition: all .7s ease-out;
      z-index: 50;
      &.show{
        transform: translateY(0);
        opacity: 1;
      }
      div{
        font-size: 13px;
        background: #fff;
        border: 3px solid #d79439;
        border-radius: 5px;
        padding: 2% 3%;
        color: #643;
        width: 35%;
        a{
          color: #643;
          font-size: 13px;
        }
      }
    }
  }
}
//封面页
.page-cover{
  background: #8caed7;
  width: 100%;
  height: 100%;
  position: relative;
  padding: 4%;
  .page-cover-main{
    width: 100%;
    height: 100%;
    border: 3px solid #fff;
    .page-cover-title{
      background: #fff;
      margin: 5% auto;
      width: 80%;
      position: relative;
      transform: translateX(-5px);
      h3{
        position: relative;
        font-size: 22px;
        color: #fff;
        background: #db9a34;
        padding: 5%;
        font-weight: 600;
        letter-spacing: 2px;
        transform: translate(5px,5px);
      }
    }
    .page-cover-img{
      height: 45%;
      display: block;
      margin: 0 auto 5%;
    }
    .page-cover-tag{
      margin: 15px 0;
      span{
        font-size: 15px;
        background: #fff;
        border-radius: 9px;
        padding: 3px 20px;
        display: inline-block;
        position: relative;
        letter-spacing: 1px; 
        &::before{
          content: '';
          position: absolute;
          width: 6px;
          height: 6px;
          background: #8caed7;
          border-radius: 100%;
          left: 10px;
          top: 50%;
          margin-top: -2px;
        }
        &::after{
          content: '';
          position: absolute;
          width: 6px;
          height: 6px;
          background: #8caed7;
          border-radius: 100%;
          right: 10px;
          top: 50%;
          margin-top: -2px;
        }
      }
    }
    .page-cover-btn{
      margin-top: 8%;
      button{
        width: 120px;
        height: 44px;
        border: 0;
        background-color: transparent;
        background-image: url('../img/bg/btn.png');
        background-size: 120px;
        background-repeat: no-repeat;
        background-position: center;
        padding: 0;
        color: #fff;
      }
    }
  }
}















@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(90deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@-webkit-keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(90deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@keyframes changeBg {
  0% {
    background-image: url('http://cdnvideo.airproce.com/bg/1.png');
  }
  50% {
    background-image: url('http://cdnvideo.airproce.com/bg/0.png');
  }
  100% {
    background-image: url('http://cdnvideo.airproce.com/bg/1.png');
  }
}
@-webkit-keyframes changeBg {
  0% {
    background-image: url('http://cdnvideo.airproce.com/bg/1.png');
  }
  50% {
    background-image: url('http://cdnvideo.airproce.com/bg/0.png');
  }
  100% {
    background-image: url('http://cdnvideo.airproce.com/bg/1.png');
  }
}

/*电脑*/
@media screen  and (min-width:1400px){

}
/*笔记本*/
@media screen and (max-width: 1399px) and (min-width: 1200px){
   
}
@media screen and (max-width: 1199px) and (min-width: 1023px){
}  
/*横向平板*/
@media screen and (max-width: 1099px) and (min-width: 1023px){
}   
 
/*平板*/
@media screen and (max-width: 1023px) and (min-width: 769px){
}
/*笔记本高度*/
@media screen and (max-height: 767px) and (min-height: 600px){
  
}
/*手机*/
@media screen and (max-width: 768px){
  .lzlj-main{
    display: block;
  }
}

@media screen and (max-width: 320px){
  .lzlj-main .bg-wrapper .page-select .select-main .select-main__title h3 {
    font-size: 13px;
  }
  .lzlj-main .bg-wrapper .page-select .select-main .select-main__option label {
    font-size: 12px;
    margin-bottom: 8px;
    padding-left: 25px;
  }
  .lzlj-main .bg-wrapper .hand-animate{
    background-size: 60px;
    margin-top: 10px;
  }
  .results .results-top .tags-right .tags-item{
    font-size: 12px;
  }
  .results .results-bottom .results-bottom__title h3{
    font-size: 14px;
  }
  .results .results-bottom .results-bottom__btn div{
    font-size: 12px;
    width: 40%;
  }
  .results .results-bottom{
    margin-top: 4%;
  }
  .results{
    padding: 2% 8%;
  }
  .results .results-bottom .results-bottom__img .page-title{
    width: 100px;
    background-size: 100px;
    padding: 0 0 0 20px;
    top: 30px;
    font-size: 16px;
  }
  .results .results-top .tags-right .page-title{
    width: 100px;
    background-size: 100px;
    padding: 0 0 0 20px;
    bottom: 20px;
    font-size: 16px;
  }
  .results .results-bottom .results-bottom__img .qcode {
    width: 50px;
    top: 80px;
    right: 15px;
  }
  .page-cover .page-cover-main .page-cover-title h3{
    font-size: 18px;
  }
  .page-cover .page-cover-main .page-cover-img{
    width: 62%;
  }
  .page-cover .page-cover-main .page-cover-tag{
    margin: 10px 0;
    span{
      font-size: 12px;
    }
  }
  .results .results-mid{
    .logo-div{
      width: 120px;
    }
  }
}


