html, body, form {
  position: relative;
  height: 100%;
}

.lzlj-main{
  display: none;
}
.swiper-container {
  width: 100%;
  height: 100%;
}
.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.rotate-hint{
  display: none;
  position: fixed;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: #000;
  z-index: 999;
  .rotate-hint__main{
    color: #fff;
    text-align: center;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    i{
      background-image: url('../img/rotate.png');
      display: inline-block;
      width: 67px;
      height: 109px;
      transform: rotate(90deg);
      animation: rotation infinite 1.5s ease-out;;
      background-size: 67px;
    }
    p{
      margin-top: 25px;
      font-size: 15px;
      color: #fff;
    }
  }
}
.lzlj-main{
  .bg-wrapper{
    .hand-animate{
      width: 80px;
    height: 172px;
    background: url('../img/lzlj/hand.png') center no-repeat;
    background-size: 80px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -20px;
    transform: translateY(30px);
    margin-top: 40px;
    opacity: 0;
    transition: all 1s ease-out;
      &.active{
        transform: translateY(0);
        opacity: 1;
      }
    }
    .page-bg{
      width: 100%;
      height: 100%;
      background-repeat: no-repeat;
      background-position: top;
      background-size: 100%;
      position: absolute;
      top: 0;
    }
    .page-select{
      width: 100%;
      height: auto;
      position: absolute;
      bottom: 0;
      padding: 0 5% 4%;
      .select-main{
        .select-main__title{
          text-align: left;
          border: 3px solid #4b2c20;
          border-radius: 5px;
          padding: 10px;
          margin-bottom: 10px;
          background: #fff;
          h3{
            font-size: 15px;
            color: #4b2c20;
            font-weight: 600;
          }
        }
        .select-main__option{
          text-align: left;
          border: 3px solid #4b2c20;
          border-radius: 5px;
          padding: 10px;
          background: #fff;
          label{
            display: block;
            font-size: 14px;
            margin-bottom: 8px;
            color: #4b2c20;
            position: relative;
            padding-left: 25px;
            user-select: none;
            &:last-child{
              margin-bottom: 0;
            }
            input{
              position: absolute;
              top: 2px;
              margin: 0;
              left: 0;
              // transform: translateY(-50%);
            }
          }
        }
        .next-page{
          text-align: right;
          float: right;
          font-size: 14px;
          margin-top: 5px;
        }
      }
    }
    
    .swiper-slide:nth-child(1){
      background-image: url('http://cdnvideo.airproce.com/bg/0.png');
      background-repeat: no-repeat;
      background-position: top;
      background-size: 100%;
    }
    .swiper-slide:nth-child(1) .page-bg{
      background-image: url('http://cdnvideo.airproce.com/bg/1.png');
      animation: changeBg infinite .7s ease-in-out;
    }
    .swiper-slide:nth-child(2) .page-bg{
      background-image: url('http://cdnvideo.airproce.com/bg/2.png');
    }
    .swiper-slide:nth-child(3) .page-bg{
      background-image: url('http://cdnvideo.airproce.com/bg/3.png');
    }
    .swiper-slide:nth-child(4) .page-bg{
      background-image: url('http://cdnvideo.airproce.com/bg/4.png');
    }
    .swiper-slide:nth-child(5) .page-bg{
      background-image: url('http://cdnvideo.airproce.com/bg/5.png');
    }
    .swiper-slide:nth-child(6) .page-bg{
      height: 65%;
      background-image: url('http://cdnvideo.airproce.com/bg/6.png');
    }
    .swiper-slide:nth-child(7) .page-bg{
      background-image: url('http://cdnvideo.airproce.com/bg/7.png');
    }
    .swiper-slide:nth-child(8) .page-bg{
      background-image: url('http://cdnvideo.airproce.com/bg/8.png');
    }
    .swiper-slide:nth-child(9){
      background-image: url('http://cdnvideo.airproce.com/bg/9.png');
      background-repeat: no-repeat;
      background-position: top;
      background-size: 100%;
    }
  }
}
// 结果页面
// .result{
//   width: 100%;
//   height: 100%;
//   background-repeat: no-repeat;
//   background-position: top;
//   background-size: 95%;
//   background-image: url('http://cdnvideo.airproce.com/bg/9.png');
//   background-color: #ceddf1;
// }














@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(90deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@-webkit-keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(90deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@keyframes changeBg {
  0% {
    background-image: url('http://cdnvideo.airproce.com/bg/1.png');
  }
  50% {
    background-image: url('http://cdnvideo.airproce.com/bg/0.png');
  }
  100% {
    background-image: url('http://cdnvideo.airproce.com/bg/1.png');
  }
}
@-webkit-keyframes changeBg {
  0% {
    background-image: url('http://cdnvideo.airproce.com/bg/1.png');
  }
  50% {
    background-image: url('http://cdnvideo.airproce.com/bg/0.png');
  }
  100% {
    background-image: url('http://cdnvideo.airproce.com/bg/1.png');
  }
}

/*电脑*/
@media screen  and (min-width:1400px){

}
/*笔记本*/
@media screen and (max-width: 1399px) and (min-width: 1200px){
   
}
@media screen and (max-width: 1199px) and (min-width: 1023px){
}  
/*横向平板*/
@media screen and (max-width: 1099px) and (min-width: 1023px){
}   
 
/*平板*/
@media screen and (max-width: 1023px) and (min-width: 769px){
}
/*笔记本高度*/
@media screen and (max-height: 767px) and (min-height: 600px){
  
}
/*手机*/
@media screen and (max-width: 768px){
  .lzlj-main{
    display: block;
  }
}

@media screen and (max-width: 320px){
  .lzlj-main .bg-wrapper .page-select .select-main .select-main__title h3 {
    font-size: 13px;
  }
  .lzlj-main .bg-wrapper .page-select .select-main .select-main__option label {
    font-size: 12px;
    margin-bottom: 8px;
    padding-left: 25px;
  }
  .lzlj-main .bg-wrapper .hand-animate{
    background-size: 60px;
    margin-top: 10px;
  }
}


