.banner{
  height: 600px;
  overflow-y: hidden;
  background-image: url('../img/worth.png');
  background-position: center;
  background-size: cover;
  .banner-main{
    margin-top: 120px;
    h3{
      font-weight: 600;
      font-size: 5.7rem;
      letter-spacing: 10px;
      text-align: center;
      color: rgba(0,0,0,.1);
      transform: scale(1.2);
      transition: all 2s ease-out;
    }
  }
}
.worth-intro{
  .worth-intro-content{
    display: flex;
    align-items: flex-start;
    justify-content: space-between; 
    padding-bottom: 30px;
    border-bottom: 1px solid #cacaca;
    .intro-title{
      width: 40%;
      padding-right: 60px;
      h3{
        font-weight: 600;
        font-size: 2.6rem;
        color: #009944;
        letter-spacing: 3.16px;
        line-height: 40px;
      }
    }
    .intro-text{
      width: 60%;
      p{
        font-size: 1.4rem;
        letter-spacing: 0.23px;
        line-height: 23px;
        margin-bottom: 20px;
      }
    }
  }
}
.worth-main{
  
  .worth-main-title{
    h3{
      font-family: DIN-Bold;
      font-size: 4rem;
      color: #009944;
      letter-spacing: 1.88px;
      text-align: center;
      line-height: 62px;
    }
    h4{
      font-weight: 600;
      font-size: 24px;
      color: #009944;
      letter-spacing: 1.76px;
      text-align: center;
      line-height: 24px;
    }
  }
  .worth-main-intro{
    margin-top: 40px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
    .worth-main-intro__item{
      width: 30%;
      text-align: center;
      margin-bottom: 40px;
      h5{
        font-weight: 600;
        font-size: 2.6rem;
        color: #000000;
        letter-spacing: 3.16px;
        line-height: 40px;
        margin-bottom: 10px;
      }
      p{
        font-size: 1.4rem;
        color: #000000;
        letter-spacing: 0.23px;
        line-height: 23px;
      }
    }
  }
}





/*电脑*/
@media screen  and (min-width:1400px){
}
/*笔记本*/
@media screen and (max-width: 1399px) and (min-width: 1200px){
   
}
@media screen and (max-width: 1199px) and (min-width: 1023px){
}  
/*横向平板*/
@media screen and (max-width: 1099px) and (min-width: 1023px){
}   
 
/*平板*/
@media screen and (max-width: 1023px) and (min-width: 768px){
}
/*笔记本高度*/
@media screen and (max-height: 767px) and (min-height: 600px){

}
/*手机*/
@media screen and (max-width: 767px){
}

@media screen and (max-width: 320px){
}